In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/processed_stroke_data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [3]:
X = df.drop("stroke", axis=1)
y = df["stroke"]

In [4]:
categorical_cols = X.select_dtypes(include=['object']).columns
categorical_cols

Index(['gender', 'ever_married', 'work_type', 'Residence_type',
       'smoking_status'],
      dtype='object')

In [5]:
X = pd.get_dummies(X, columns=categorical_cols, drop_first=True)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_train_balanced, y_train_balanced = smote.fit_resample(
    X_train_scaled, y_train
)

In [11]:
pd.Series(y_train_balanced).value_counts()

stroke
0    3889
1    3889
Name: count, dtype: int64

In [13]:
import pickle

pickle.dump(scaler, open("../pipelines/scaler.pkl", "wb"))
pickle.dump(smote, open("../pipelines/smote.pkl", "wb"))